<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto pt-5">
            <h1 class="p-4 text-center fw-bolder">a:do:h:do</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body p-4 p-sm-5">
                    <form [formGroup]="loginForm">
                        <div class="alert alert-danger" role="alert" hidden="hidden">
                            Invalid credentials.
                        </div>

                        <div class="mb-3">
                            <label for="email" class="text-primary small pb-1">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="text-primary small pb-1">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-login fw-bold" type="submit"
                                    [disabled]="loginForm.invalid || loading" (click)="loginLocally()">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-2">
            <div class="w-50 float-start">Forgot password?</div>
            <div class="w-50 float-start text-end">Register</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-5">
            <div class="divider">
                <span></span>
                <span>or</span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body p-4 p-sm-5">
                    <div class="d-grid mb-2">
                        <button class="btn btn-google fw-bold" (click)="loginWithProvider(prGoogle)">
                            <fa-icon [icon]="faGoogle"/> Sign in with Google
                        </button>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-github fw-bold" (click)="loginWithProvider(prGithub)">
                            <fa-icon [icon]="faGithub"/> Sign in with Github
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
