.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335 !important;
  border-color: #ea4335 !important;
}

.btn-github {
  color: white !important;
  background-color: #24292e !important;
  border-color: #24292e !important;
}
