<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto pt-5">
            <h1 class="p-4 text-center fw-bolder">a:do:h:do</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body p-4 p-sm-5">
                    <form [formGroup]="registerForm">
                        <div class="mb-3">
                            <label for="email" class="text-primary small pb-1">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
                            <div role="alert" class="text-danger small pt-1"
                                 *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('required')">
                                The email address is required.
                            </div>
                            <div role="alert" class="text-danger small pt-1"
                                 *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('email')">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="text-primary small pb-1">Enter password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                            <div role="alert" class="text-danger small pt-1"
                                 *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].hasError('required')">
                                The password is required.
                            </div>
                            <div role="alert" class="text-danger small pt-1"
                                 *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].hasError('pattern')">
                                The password is not strong enough.
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="password2" class="text-primary small pb-1">Confirm password</label>
                            <input type="password" class="form-control" id="password2" placeholder="Password" formControlName="password2">
                            <div role="alert" class="text-danger small pt-1"
                                 *ngIf="registerForm.controls['password2'].touched && registerForm.hasError('confirmPassword')">
                                The passwords do not match.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="text-primary small pb-1">User name</label>
                            <input type="text" class="form-control" id="name" placeholder="Jane Doe" formControlName="name">
                            <div role="alert" class="text-danger small pt-1"
                                 *ngIf="registerForm.controls['name'].touched && registerForm.controls['name'].hasError('required')">
                                The email address is required.
                            </div>
                        </div>

                        <div class="alert alert-danger" role="alert" *ngIf="error">
                            {{ errorMessage }}
                        </div>
                        <div class="alert alert-success" role="alert" *ngIf="success">
                            Registration successful.<br>
                            <a routerLink="/login">Proceed to login</a>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary fw-bold" type="submit"
                                    [disabled]="registerForm.invalid || loading" (click)="register()">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
